.form-wrapper {
    display: flex;
    // justify-content: space-evenly;
    align-items: center;
}

.form-title {
    background: $accent-color-light;
    flex: 1 0 40%;
    text-align: center;
}

.form-title,
.form-title-span {
    @include heading-text($large-font, darken($tertiary-color, 25), uppercase);
    // font-style: italic;
    display: block;
}

.contact-form {
    flex: 1 0 60%;
    // background: $accent-color-dark;
}

.form-items {
    display: block;
    width: 100%;
    background: $accent-color-dark;
}
