.form-wrapper {
    display: flex;
    align-items: stretch;
    margin: 100px 0 140px 0;
}

.form-title-container {
    background: darken($tertiary-color, 3);
    width: 40%;
}

.form-title {
    @include heading-text($medium-font, lighten($primary-color, 15), uppercase);
    text-align: center;
    margin-top: 80px;
}

.contact-form {
    flex: 1 0 60%;
    // display: flex;
    // justify-content: space-between;
    // flex-direction: column;
    background: $tertiary-color;
}

.form-items {
    display: block;
    width: 88%;
    height: 40px;
    background: lighten($tertiary-color, 5);
    border-style: none;
    padding-left: 10px;
    margin: 12px auto;
    &:first-child {
        margin-top: 80px;
    }
    &::placeholder {
        // color: $primary-color;
        color: $quartenary-color;
        opacity: 1;

        // text-align: left;
    }
}

#message {
    resize: none;
    height: 150px;
}

.message-btn-wrapper {
    text-align: center;
}

.message-submit-btn {
    @include button-style(white, solid 3px $accent-color-dark);
    margin: 30px auto;
    width: 200px;
    color: $primary-color;

    &:hover {
        background: $accent-color-dark;
        color: #fafafa;
    }
}

.contact-list {
    list-style: none;
}

.contact-item {
    margin-top: 20px;
}
.contact-item,
.contact-link {
    display: block;
}

.contact-link {
    @include link-style($quartenary-color);
    font-size: $small-font;
    &:hover {
        color: darken($accent-color-dark, 10);
        font-weight: bold;
    }
}

.dash-spacer {
    margin-bottom: 10px;
}

.contact-icon {
    font-size: $medium-font;
}
