footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background: $accent-color-light;
    background: $tertiary-color;
    margin-top: 140px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-items {
    padding: 0 8px;
    display: inline-block;
    font-size: $xsmall-font;

    &-border {
        border-right: 1px solid $primary-color;
        &:last-child {
            border: none;
        }
    }
}

.copyright-statement {
    display: inline-block;
    font-size: $xsmall-font;
    color: darken($quartenary-color, 5);
}

.nav-links {
    text-decoration: none;
    color: darken($quartenary-color, 5);
}
