.section-wrapper {
    // padding: 0 220px;
    // psd template 320px;
    width: 70%;
    margin: 0 auto;
}

.section-description-container {
    display: flex;
    align-items: center;
    margin-top: 140px;
}

.section-description {
    @include heading-text($small-font, $tertiary-color-dark, uppercase);
}

.dash {
    width: 5rem;
    border-bottom: 3px solid $accent-color-dark;
    margin-right: 4px;
}

.section-title {
    @include heading-text($large-font, $primary-color, none);
    margin: 0;
}
