html {
    font-size: 62.5%;
}

body {
    font-family: $primary-font;
    font-size: $small-font;
}

.wrapper {
    max-width: 1660px;
    margin: 0 auto;
}

.inner-wrapper {
    width: 97%;
    margin: 0 auto;
}

// hamburg button css
