.landing-header {
    background: $tertiary-color;
    height: 100vh;
}

.title-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

h1,
.h1-span {
    @include heading-text($xlarge-font, $secondary-color, lowercase);
    line-height: 0.8;
    margin: 0 auto;
    text-align: left;
    //  text-shadow: h-shadow v-shadow blur-radius color|none|initial|inherit;
    text-shadow: 0px 0px 8px $primary-color;
    z-index: 10;
    position: relative;
}

.h1-span {
    display: block;
}

h1::before {
    content: '';
    background: url(../../assets/lowercase-n.svg);
    position: absolute;
    width: 250px;
    height: 250px;
    left: 200px;
    bottom: -5px;
    z-index: -10;
}

.logo-nav-container {
    padding-top: 15px;
}

// 'nova' p tag
.logo {
    @include heading-text($medium-font, $quartenary-color, lowercase);
    font-weight: bold;
    text-shadow: 0px 0px 0.5px $primary-color;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
}

.role {
    @include heading-text($small-font, $quartenary-color, capitalize);
    margin-top: 10px;
}
