// header styles

@mixin heading-text($font-size, $color, $text-transform) {
    color: $color;
    font-size: $font-size;
    text-transform: $text-transform;
}

@mixin body-text($margin...) {
    line-height: 1.7;
    margin: $margin;
}

@mixin button-style($color, $border...) {
    border-style: none;
    background: $color;
    width: 175px;
    padding: 5px 25px;
    border-radius: 35px;
    border: $border;
}

// section title

@mixin link-style($color) {
    text-decoration: none;
    color: $color;
}

@mixin section-background($padding...) {
    padding: $padding;
    background-color: #fafafa;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23333333' fill-opacity='0.22' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
