.hamburger {
    display: block;
    position: relative;
    z-index: 200;
    width: 20px;
    height: 20px;
    &:hover {
        cursor: pointer;
    }
}

.toggle:checked + .nav-list {
    right: 0;
    transition: all 0.5s;
}
.nav {
    position: fixed;
    top: 15px;
    right: 20px;
    z-index: 20;

    &-list {
        position: fixed;
        z-index: 200;
        top: 0;
        bottom: 0;
        // right: -15%;
        right: -216px;
        // width: 15%;
        width: 216px;
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        transition: all 0.5s ease-in;
        opacity: 0.75;
        z-index: 20;
    }
    &-items:last-child {
        padding-right: 10px;
    }
    &-items {
        margin: 25px 20px 0 0;
        z-index: 10;
    }
    &-links {
        font-size: $medium-large-font;
    }
    &-links:hover {
        border: none;
    }
}

.toggle {
    display: none;
}

.social-media-container li {
    margin: 50px 5px 0 5px;
}
