.hamburger {
    display: block;
    position: relative;
    z-index: 200;
    width: 20px;
    height: 20px;
}

.toggle:checked + .nav-list {
    right: 0;
    transition: all 0.5s;
}
.nav {
    position: fixed;
    top: 15px;
    right: 20px;

    &-list {
        position: fixed;
        z-index: 200;
        top: 0;
        bottom: 0;
        right: -30%;
        width: 30%;
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease-in;
    }
    &-items:last-child {
        padding-right: 10px;
    }
    &-items {
        margin: 25px 0;
    }
    &-links {
        font-size: 5rem;
    }
    &-links:hover {
        border: none;
    }
}

.toggle {
    display: none;
}
