.project {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 140px 0;
}

.first-project {
    margin-top: 100px;
}

.project-title {
    @include heading-text($medium-large-font, $primary-color, Capitalize);
    font-weight: bold;
}

.btn {
    @include button-style(white, solid 2px $accent-color-dark);
    // background: $accent-color-light;
    // padding: 5px 25px;
    // border-radius: 35px;
    // border: solid 2px $accent-color-dark;;
    &:hover {
        background: $accent-color-dark;
        .project-link {
            color: #fafafa;
        }
    }
}

.btn-live {
    @include button-style(white, solid 3px $tertiary-color);

    &:hover {
        background: $tertiary-color-dark;
        .project-link {
            color: #fafafa;
        }
    }
}

.project-link {
    @include link-style($primary-color);
}
