.landing-header {
    background: $tertiary-color;
    height: 100vh;
}

.title-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;

    & h1,
    & .h1-span {
        @include heading-text($xlarge-font, $secondary-color, lowercase);
        line-height: 0.8;
        margin: 0 auto;
        text-align: left;
        //  text-shadow: h-shadow v-shadow blur-radius color|none|initial|inherit;
        text-shadow: 0px 0px 8px $primary-color;
        z-index: 10;
        position: relative;
    }

    & h1 {
        margin-bottom: 10px;
    }

    & .h1-span {
        display: block;
    }
}

h1::before {
    content: '';
    background: url(../../assets/lowercase-n.svg);
    position: absolute;
    width: 250px;
    height: 250px;
    left: 200px;
    bottom: -5px;
    z-index: -10;
}

.title-typed {
    height: 37px;
}

.role {
    @include heading-text($medium-font, $quartenary-color, none);
    margin-top: 10px;
    display: inline-block;
}

.logo-nav-container {
    padding-top: 15px;
}

// 'nova' p tag
.logo {
    @include heading-text($medium-font, $quartenary-color, lowercase);
    font-weight: bold;
    text-shadow: 0px 0px 0.3px $primary-color;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

.chevron {
    position: absolute;
    width: 0.6rem * 3.5;
    height: 0.6rem * 0.8;
    opacity: 0;
    transform: scale(0.3);
    animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
    animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: '';
    position: absolute;
    top: 0;
    height: 80%;
    width: 50%;
    background: $quartenary-color;
}

.chevron:before {
    left: 0;
    transform: skewY(30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
}

@keyframes move-chevron {
    25% {
        opacity: 1;
    }
    33.3% {
        opacity: 1;
        transform: translateY(0.6rem * 3.8);
    }
    66.6% {
        opacity: 1;
        transform: translateY(0.6rem * 5.2);
    }
    100% {
        opacity: 0;
        transform: translateY(0.6rem * 8) scale(0.5);
    }
}

.title-wrapper {
    a:focus {
        outline: none;
    }
}
