@media (max-width: 1425px) {
    .portrait {
        width: 250px;
    }

    .project-img-container {
        text-align: center;
    }
    .project-img {
        width: 450px;
    }

    .project-description-container,
    .project-button-container {
        width: 400px;
    }
}

@media (max-width: 1282px) {
    .project-img {
        width: 400px;
    }

    .project-description-container,
    .project-button-container {
        width: 350px;
    }

    .btn,
    .btn-live {
        width: 150px;
    }
}

@media (max-width: 1150px) {
    .project-img {
        width: 350px;
    }
    .project-description-container,
    .project-button-container {
        width: 350px;
    }
}

// tablet begins
@media (max-width: 1023px) {
    .about-description-container {
        display: block;
    }

    .about-description {
        padding: 20px;
    }

    .portrait-wrapper {
        text-align: center;
        width: 100%;
    }
    .portrait {
        margin: 30px auto;
    }

    .project {
        display: block;
        margin: 25px 0 120px 0;
    }

    .project-description-container {
        margin: 20px auto 0 auto;
        width: 100%;
    }

    .project-img {
        width: 400px;
    }

    .project-button-container {
        margin: 40px auto 0 auto;
        justify-content: center;

        .btn,
        .btn-live {
            width: 200px;
        }
    }

    .contact-form {
        border-radius: 0 4.5% 4.5% 0;
    }
}

@media (max-width: 800px) {
    .title-wrapper {
        & h1,
        & .h1-span {
            font-size: $large-font;
        }
    }

    h1::before {
        content: '';
        background: url(../../assets/lowercase-n.svg);
        background-size: cover;
        width: 93px;
        height: 93px;
        left: 122px;
        bottom: 38px;
        z-index: -10;
    }

    .role {
        font-size: $small-font;
    }

    .skills-background {
        padding: 0;

        & .section-wrapper {
            width: 100%;
        }
    }

    #skills .section-wrapper,
    #contact .section-wrapper {
        width: 80%;
    }

    .skill-item {
        font-size: $small-font;
        margin: 15px;
        padding: 0;

        & svg {
            width: 70px;
        }
    }
    .skill-icon {
        font-size: 7rem;
    }
}

@media (max-width: 700px) {
    .skills-background {
        padding: 0;

        & .section-wrapper {
            width: 100%;
        }

        & .section-title {
            margin-left: 12.5%;
        }
    }

    .skill-item {
        // margin: 22px;
        padding: 0;

        ÷ & svg {
            width: 50px;
        }
    }

    .skill-icon {
        font-size: 6rem;
    }

    .skill-description {
        opacity: 1;
        font-size: $xsmall-font;
    }

    .form-wrapper {
        flex-direction: column;
        margin: 50px 0;

        & .form-title-container {
            width: 100%;
            border-radius: 5% 5% 0 0;
            padding-bottom: 5px;
            & .form-title {
                margin: 0;
            }
        }
    }
    .contact-form {
        border-radius: 0 0 4.5% 4.5%;
    }
    .form-items:first-child {
        margin-top: 30px;
    }

    .message-submit-btn {
        margin: 20px auto 25px auto;
    }
}

.section-wrapper.contact-section-wrapper {
    width: 85%;
    margin: 0 auto;
}

// mobile begins

@media (max-width: 500px) {
    .section-wrapper {
        width: 75%;
        padding: 50px 0;
    }

    .nav-list {
        width: 100%;
        right: -100%;
        align-items: center;
        opacity: 0.85;
    }

    .nav-social-list {
        padding: 0;
    }

    .section-title {
        font-size: $medium-large-font;
    }
    .about-description-container {
        display: block;
        margin: 0;
    }

    .about-description {
        margin: 0;
        padding: 0;
        & p {
            margin: 0 auto;
            font-size: $xsmall-font;
        }
    }

    .portrait-wrapper {
        text-align: center;
        width: 100%;
    }
    .portrait {
        margin: 30px auto;
        width: 200px;
    }

    .project {
        display: block;
        margin: 25px 0 80px 0;
    }

    .first-project {
        margin-top: 50px;
    }

    .project-title {
        font-size: $medium-font;
    }

    .project-description-container {
        margin-top: 25px;
        width: 100%;
        & .project-description {
            font-size: $xsmall-font;
        }
        & .project-features {
            font-size: 1.4rem;
        }
    }

    .project-img {
        width: 280px;
    }

    .project-button-container {
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
    }

    .project-link-live,
    .project-link {
        margin: 0 auto;
    }
    .btn,
    .btn-live {
        width: 200px;
        margin: 5px 0;
    }

    .form-wrapper {
        margin: 20px 0;
    }
    #contact .section-wrapper {
        padding-bottom: 20px;
    }
}

@media (max-width: 335px) {
    .project-img {
        width: 200px;
    }

    #skills .section-wrapper,
    #contact .section-wrapper {
        width: 90%;
    }

    .skill-icon {
        & svg {
            width: 50px;
        }
    }
}
