@media (max-width: 450px) {
    .section-wrapper {
        width: 75%;
    }

    .nav-list {
        width: 100%;
        right: -100%;
        align-items: center;
        opacity: 0.85;
    }

    h1,
    .h1-span {
        font-size: $large-font;
    }

    h1::before {
        content: '';
        background: url(../../assets/lowercase-n.svg);
        background-size: cover;
        width: 93px;
        height: 93px;
        left: 122px;
        bottom: 38px;
        z-index: -10;
    }

    .section-title {
        font-size: $medium-large-font;
    }
    .about-description-container {
        display: block;
    }

    .about-description {
        margin: 0 auto;
    }

    // .about-description p {
    //     font-size: $xsmall-font;
    // }

    .portrait-wrapper {
        text-align: center;
        width: 100%;
    }
    .portrait {
        margin: 30px auto;
        width: 200px;
    }

    .project {
        display: block;
        margin: 25px 0 80px 0;
    }

    .first-project {
        margin-top: 50px;
    }

    .project-description-container {
        margin: 0 auto;
    }

    .project-title {
        font-size: $medium-font;
    }

    .project-description-container {
        margin-top: 25px;
    }

    .project-img-container {
        text-align: center;
    }

    .project-button-container {
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 100%;
    }

    .project-link {
        margin: 0;
    }
    .btn,
    .btn-live {
        width: 200px;
        margin: 5px 0;
    }

    .project-img {
        width: 250px;
    }

    .skill-section-container {
        margin-left: 12.5%;
    }

    .skills-background {
        padding: 0;

        & .section-wrapper {
            width: 100%;
        }

        & .section-title {
            margin-left: 12.5%;
        }
    }

    .skill-item {
        margin: 25px;
        padding: 0;

        & svg {
            width: 70px;
        }
    }
    .skill-icon {
        font-size: 7rem;
    }

    .form-wrapper {
        flex-direction: column;
        margin: 50px 0;
    }

    .form-title-container {
        width: 100%;
        border-radius: 5% 5% 0 0;
    }

    .section-wrapper.contact-section-wrapper {
        width: 85%;
        margin: 0 auto;
    }
    .contact-form {
        border-radius: 0 0 4.5% 4.5%;
    }

    footer.inner-wrapper {
        margin-top: 90px;
    }
}

@media (max-width: 335px) {
    .project-img {
        width: 200px;
    }
}
