.skill-section-container {
    margin: 0;
}

.skill-set-container {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: space-evenly;
    margin: 0;
}

.skill-icon {
    // color: $tertiary-color;
    color: $accent-color-dark;
    font-size: 8rem;
}

.skill-icon.firebase-icon {
    font-size: 7.5rem;
}

.skill-svg {
    width: 8rem;
    height: 8rem;
    fill: $accent-color-dark;
    font-weight: bold;
}
.skill-description {
    display: block;
    @include heading-text($small-font, $quartenary-color, none);
    opacity: 0.5;
}

.skill-item {
    text-align: center;
    flex: 0 1 20%;
    padding: 10px;
    margin: 10px;

    &:hover {
        .skill-icon {
            color: $tertiary-color-dark;
            fill: $tertiary-color-dark;
        }

        .skill-svg {
            fill: $tertiary-color-dark;
        }

        .skill-description {
            opacity: 1;
            color: $accent-color-dark;
        }
    }
}

.skill-item.skill-item-firebase {
    padding: 0;
}
