// Colors

$primary-color: #333;
$secondary-color: #fafafa;
// $tertiary-color: #feb5a6;

$tertiary-color: #ffbaad;
$tertiary-color-dark: darken($tertiary-color, 20);
$quartenary-color: #888;

$accent-color-light: #cef2f0;

$accent-color-dark: #59b0a9;

// Fontfamily
$primary-font: 'Poppins', sans-serif;

// Font size
$xlarge-font: 9rem;
$large-font: 5.5rem;
$medium-large-font: 3.5rem;
$medium-font: 2.4rem;
$small-font: 1.8rem;
$xsmall-font: 1.6rem;
$mobile-font: 1.4rem;
