article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201c \201d \2018 \2019;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type='checkbox'],
input[type='radio'] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type='search'] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
figure {
  margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
}

p {
  margin: 0;
}

.wrapper {
  max-width: 1680px;
  margin: 0 auto;
}

.inner-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.landing-header {
  background: #ffbaad;
  height: 100vh;
}

.title-wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title-wrapper h1,
.title-wrapper .h1-span {
  color: #fafafa;
  font-size: 9rem;
  text-transform: lowercase;
  line-height: 0.8;
  margin: 0 auto;
  text-align: left;
  text-shadow: 0px 0px 8px #333;
  z-index: 10;
  position: relative;
}

.title-wrapper h1 {
  margin-bottom: 10px;
}

.title-wrapper .h1-span {
  display: block;
}

h1::before {
  content: '';
  background: url(../../assets/lowercase-n.svg);
  position: absolute;
  width: 250px;
  height: 250px;
  left: 200px;
  bottom: -5px;
  z-index: -10;
}

.logo-nav-container {
  padding-top: 15px;
}

.logo {
  color: #888;
  font-size: 2.4rem;
  text-transform: lowercase;
  font-weight: bold;
  text-shadow: 0px 0px 0.3px #333;
}

.logo-nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title-typed {
  height: 37px;
}

.role {
  color: #888;
  font-size: 2.4rem;
  text-transform: none;
  margin-top: 10px;
  display: inline-block;
}

.hamburger {
  display: block;
  position: relative;
  z-index: 200;
  width: 20px;
  height: 20px;
}

.hamburger:hover {
  cursor: pointer;
}

.toggle:checked + .nav-list {
  right: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav {
  position: fixed;
  top: 15px;
  right: 20px;
  z-index: 20;
}

.nav-list {
  position: fixed;
  z-index: 200;
  top: 0;
  bottom: 0;
  right: -250px;
  width: 250px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  opacity: 0.75;
  z-index: 20;
}

.nav-items:last-child {
  padding-right: 10px;
}

.nav-items {
  margin: 25px 20px 0 0;
  z-index: 10;
}

.nav-links {
  font-size: 3.5rem;
}

.nav-links:hover {
  border: none;
}

.toggle {
  display: none;
}

.nav-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  justify-items: center;
  padding: 0;
  list-style: none;
}

.nav-social-items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.section-wrapper {
  padding-top: 80px;
  width: 70%;
  margin: 0 auto;
}

.section-description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-description {
  color: #ff6447;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.dash {
  width: 5rem;
  border-bottom: 3px solid #59b0a9;
  margin-right: 4px;
}

.section-title {
  color: #333;
  font-size: 5.5rem;
  text-transform: none;
  margin: 0;
}

.about-description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-description {
  line-height: 1.7;
  margin: 0 40px 25px 0;
}

.about-description p {
  margin-bottom: 15px;
}

.portrait-wrapper {
  width: 50%;
}

.portrait {
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 4px 0px #333;
          box-shadow: 0px 0px 4px 0px #333;
  width: 275px;
  margin: 0 25px 25px 0;
}

.skill-section-container {
  margin: 0;
}

.skill-set-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0;
}

.skill-icon {
  color: #59b0a9;
  font-size: 9rem;
}

.skill-svg {
  width: 100px;
  height: 100px;
  fill: #59b0a9;
  font-weight: bold;
}

.skill-item {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  padding: 10px;
  margin: 10px;
}

.skill-item:hover .skill-icon {
  color: #ff6447;
  fill: #ff6447;
}

.skill-item:hover .skill-svg {
  fill: #ff6447;
}

.skill-item:hover .skill-description {
  visibility: visible;
}

.skill-description {
  display: block;
  visibility: hidden;
  color: #ff6447;
  font-size: 1.8rem;
  text-transform: none;
}

#projects {
  padding: 40px 0 30px 0;
  background-color: #fafafa;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23333333' fill-opacity='0.22' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 140px 0;
}

.project-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.first-project {
  margin-top: 100px;
}

.project-description-container {
  margin: 0 35px;
}

.project-title {
  color: #333;
  font-size: 3.5rem;
  text-transform: Capitalize;
  font-weight: bold;
}

.project-description {
  margin: 15px 0;
}

.project-features {
  margin: 25px 0 15px 0;
  font-weight: 500;
}

.project-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-link {
  text-decoration: none;
  color: #333;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  margin: 0 23px;
}

.btn {
  border-style: none;
  background: white;
  width: 175px;
  padding: 5px 25px;
  border-radius: 35px;
  border: solid 2px #59b0a9;
}

.btn:hover {
  background: #59b0a9;
}

.btn:hover .project-link {
  color: #fafafa;
}

.btn-live {
  border-style: none;
  background: white;
  width: 175px;
  padding: 5px 25px;
  border-radius: 35px;
  border: solid 3px #ffbaad;
}

.btn-live:hover {
  background: #ff6447;
}

.btn-live:hover .project-link {
  color: #fafafa;
}

.contact-background {
  padding: 40px 0 30px 0;
  background-color: #fafafa;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23333333' fill-opacity='0.22' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 100px 0 140px 0;
}

.form-title-container {
  background: #ffad9e;
  width: 40%;
  border-radius: 3% 0 0 3%;
}

.form-title {
  color: #595959;
  font-size: 2.4rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 35px;
}

.contact-form {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 60%;
          flex: 1 0 60%;
  background: #ffbaad;
  border-radius: 0 2.5% 2.5% 0;
}

.form-items {
  display: block;
  width: 88%;
  height: 40px;
  background: #ffcfc7;
  border-style: none;
  padding-left: 10px;
  margin: 12px auto;
}

.form-items:first-child {
  margin-top: 80px;
}

.form-items::-webkit-input-placeholder {
  color: #888;
  opacity: 1;
}

.form-items:-ms-input-placeholder {
  color: #888;
  opacity: 1;
}

.form-items::-ms-input-placeholder {
  color: #888;
  opacity: 1;
}

.form-items::placeholder {
  color: #888;
  opacity: 1;
}

#message {
  resize: none;
  height: 150px;
}

.message-btn-wrapper {
  text-align: center;
}

.message-submit-btn {
  border-style: none;
  background: #59b0a9;
  width: 175px;
  padding: 5px 25px;
  border-radius: 35px;
  border: solid 3px #59b0a9;
  margin: 30px auto;
  width: 200px;
  color: white;
}

.message-submit-btn:hover {
  background: white;
  color: #59b0a9;
}

.contact-list {
  list-style: none;
}

.contact-item {
  margin: 25px 0 20px 0;
}

.contact-item,
.contact-link {
  display: block;
}

.contact-link {
  text-decoration: none;
  color: #888;
  font-size: 1.8rem;
}

.contact-link:hover {
  color: #45918b;
  font-weight: bold;
}

.dash-spacer {
  margin-bottom: 10px;
}

.contact-icon {
  font-size: 2.4rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffbaad;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 10;
}

.nav-contact-list,
.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-contact-items,
.nav-items {
  padding: 0 8px;
  display: inline-block;
  font-size: 1.6rem;
}

.nav-contact-items-border,
.nav-items-border {
  border-right: 1px solid #7b7b7b;
}

.nav-contact-items-border:last-child,
.nav-items-border:last-child {
  border: none;
}

.copyright-statement {
  display: inline-block;
  font-size: 1.6rem;
  color: #7b7b7b;
  z-index: 30;
}

.nav-contact-links,
.nav-links {
  text-decoration: none;
  color: #7b7b7b;
}

.nav-contact-links:hover,
.nav-links:hover {
  color: #45918b;
  font-weight: bold;
}

.nav-icon {
  font-size: 1.8rem;
}

@media (max-width: 450px) {
  .section-wrapper {
    width: 75%;
  }
  .nav-list {
    width: 100%;
    right: -100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0.85;
  }
  h1,
  .h1-span {
    font-size: 5.5rem;
  }
  h1::before {
    content: '';
    background: url(../../assets/lowercase-n.svg);
    background-size: cover;
    width: 93px;
    height: 93px;
    left: 122px;
    bottom: 38px;
    z-index: -10;
  }
  .section-title {
    font-size: 3.5rem;
  }
  .about-description-container {
    display: block;
  }
  .about-description {
    margin: 0 auto;
  }
  .portrait-wrapper {
    text-align: center;
    width: 100%;
  }
  .portrait {
    margin: 30px auto;
    width: 200px;
  }
  .project {
    display: block;
    margin: 25px 0 80px 0;
  }
  .first-project {
    margin-top: 50px;
  }
  .project-description-container {
    margin: 0 auto;
  }
  .project-title {
    font-size: 2.4rem;
  }
  .project-description-container {
    margin-top: 25px;
  }
  .project-img-container {
    text-align: center;
  }
  .project-button-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
  }
  .project-link {
    margin: 0;
  }
  .btn,
  .btn-live {
    width: 200px;
    margin: 5px 0;
  }
  .project-img {
    width: 250px;
  }
  .skill-section-container {
    margin-left: 12.5%;
  }
  .skills-background {
    padding: 0;
  }
  .skills-background .section-wrapper {
    width: 100%;
  }
  .skills-background .section-title {
    margin-left: 12.5%;
  }
  .skill-item {
    margin: 25px;
    padding: 0;
  }
  .skill-item svg {
    width: 70px;
  }
  .skill-icon {
    font-size: 7rem;
  }
  .form-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 50px 0;
  }
  .form-title-container {
    width: 100%;
    border-radius: 5% 5% 0 0;
  }
  .section-wrapper.contact-section-wrapper {
    width: 85%;
    margin: 0 auto;
  }
  .contact-form {
    border-radius: 0 0 4.5% 4.5%;
  }
  footer.inner-wrapper {
    margin-top: 90px;
  }
}

@media (max-width: 335px) {
  .project-img {
    width: 200px;
  }
}
/*# sourceMappingURL=style.css.map */